{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_SERVER;Database=YOUR_DATABASE;User Id=YOUR_USER;Password=YOUR_PASSWORD;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
  },
  "JWT": {
    "Key": "YOUR_JWT_KEY_AT_LEAST_32_CHARS",
    "Issuer": "https://localhost:7107",
    "Audience": "https://localhost:7107",
    "DurationInMinutes": 30,
    "RefreshTokenValidityInHours": 7
  },
  "FinancialSettings": {
    "TaxPercentage": 0.15
  },
  "NightAuditSettings": {
    "SystemUserId": "YOUR_SYSTEM_USER_GUID"
  }
}
